.Login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("https://top-fon.com/uploads/posts/2022-09/1663556332_124-top-fon-com-p-sine-serii-razmitii-fon-foto-151.jpg")
    no-repeat;
  background-size: cover;
}

.Login form {
  width: 600px;
  background: rgb(173, 173, 173);
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px 10px #1f1f1f;
  justify-content: center;
}

.Login form h2 {
  font-family: "Geliroy600";
  font-weight: 600;
  margin-bottom: 20px;
}

.Login form input {
  width: 90%;
  height: 40px;
  outline: none;
  margin: auto;
  margin-bottom: 20px;
  background: transparent;
  border: 1px solid #3c3c3c;
  color: white;
  font-family: "Geliroy600";
  font-weight: 600;
  font-size: 20px;
  padding-left: 10px;
}

.Login form button {
  width: 90%;
  margin: auto;
  padding: 10px;
  cursor: pointer;
}
